.custom-button {
    min-width: 165px;
    
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 10px 0 10px;
    font-size: 15px;
    color: white;
    background-color: #0b5fa4;
    opacity: 0.8;
    text-transform: capitalize;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}