*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #296ca9;
}

// a {
//   text-decoration: none;
//   color: black;
// }